# Bem Vindo ao curso de Python

## Este é o Jupyter Notebook
Uma IDE que auxilia na criação e teste de código.

## Vamos começar com as estruturas de dados do Python

### int()

In [5]:
4 + 10

14

In [6]:
x = 10
y = 20
x+y

30

### float()

In [8]:
4.0 * 2.5

6.5

In [11]:
4. - 1

5.0

### str()

In [12]:
"teste de string"

'teste de string'

In [13]:
a = "minha string"
print(a)

minha string

### list()

In [15]:
[1,2,3,4,6]

In [16]:
["teo", "calvo", 1, 3]

[1, 2, 3, 4, 6]

In [ ]:
x = ["teo", "calvo", 1, 3]

### tuple()

In [ ]:
(1,2,3,4,[1,4,5,6,7])

### dict()

In [19]:
teo = {"nome":"teo", "sobrenome":"calvo", "idade":25}

In [21]:
teo["nome"]

'teo'

In [23]:
teo["ex"] = ["talita", "amanda", "mariana"]

In [24]:
teo

{'ex': ['talita', 'amanda', 'mariana'],
 'idade': 25,
 'nome': 'teo',
 'sobrenome': 'calvo'}